@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #003459;

  --color-text-dark: #00171F;
  --color-text-light: #667479;

  --color-blue: #00A7E7;

  --font: "Be Vietnam Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
    margin: 0;
    padding:0;
}
/* container  */
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:1199.98px){
    .container{
        width: 960px;
    }
    .header .inner-button-head{
        display: none;
    }
}

/* End-container */

/* btn-chung  */
.btn{
    text-transform: capitalize;
    padding: 10px 28px 10px 28px;
    border-radius: 57px;
    font-weight: 700;

}
/* End-btn-chung */
body{
   

    line-height: 1.5;
    margin: 0;
    font-family: var(--font);
}

/* header  */
.bg-1-head{
    width: 635px;
    height: 635px;
    border-radius: 99px;
    background-color: #F7DBA7;
    position: absolute;
    transform: rotate(30deg);
    top: -125%;
    left: -29%;

}
.header{
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    padding:28px 0;
   
}
.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 200;
}
.header .inner-logo{
    width: auto;
    aspect-ratio: 115/40;
    object-fit: cover;
   
}
.header .inner-wrap .inner-menu-primary ul{
    display: flex;
}
.header .inner-wrap .inner-menu-primary ul li{
    margin-right: 48px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-primary);
}
.header .inner-wrap .inner-menu-primary ul:last-child{
    margin-right: 0;
}
.header .inner-search-form{
    margin-right: 14px;
}
.header .inner-search-form form{
    padding:12px 20px 12px 16px;
    background-color: #F3F3F3;
    border-radius: 46px;
   
}
.header .inner-search-form form input{
    padding-right: 40px;
   
    outline: none;
    border: 0;
    font-size: 14px;
    color: var(--color-text-light);
    background-color: transparent;
    margin-left: 5px;
}
.header .inner-search-form form i{
    color: var(--color-text-light);
    font-size: 20px;
}
.header .inner-button-head{
   
    background-color: var(--color-primary);
}
.header .inner-button-head a{
    color: #fff;
    
}
/* End header  */

/* Section-1  */
.section-1{
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    margin-bottom: 60px;
    border-radius: 0 0 40px 40px;
   
}
.section-1 .bg-2-ss1{
    position: absolute;
    left: 41%;
    bottom:-6px;
    z-index: 1;
}
.section-1 .bg-2-ss1 img{
    width: auto;
    aspect-ratio: 845/877;
    object-fit: cover;
}
.section-1 .bg-3-ss1{
    position: absolute;
    bottom: -6px;
    left: -150px;
}
.section-1 .inner-wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
   
}
.section-1 .inner-left{
    padding-top: 80px;
    padding-right: 76px;
    width: 50%;
}
.section-1 .inner-left .inner-title{
    font-weight: 700;
    font-size: 60px;
    color: var(--color-primary);
    margin: 0;
}
.section-1 .inner-left .inner-sub-title{
    font-weight: 700;
    font-size: 46px;
    color: var(--color-primary);
    margin: 0;
}
.section-1 .inner-left .inner-desc{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 34px;
    margin-top: 24px;
}
.section-1 .inner-btn{
    display: flex;
}
.section-1 .inner-btn .btn-s1{
    border: solid 1.5px var(--color-primary);
   
}
.section-1 .inner-btn .btn-s2{
    border: solid 1.5px var(--color-primary);
    color: #fff;
    background-color: var(--color-primary);
   
}
.section-1 .inner-btn a .btn-s1{
    margin-right: 18px;
}

.section-1 .inner-btn .btn-s1 i{
    margin-left: 8px; 
}
.section-1 .inner-btn .btn-s1{
    color:var(--color-primary);
}

.section-1 .inner-right{
    width: 50%;
    z-index: 10;
}
.section-1 .inner-right img{
    width: 100%;
   height: auto;
    padding-right: 74px;
    margin-bottom: -8px;
    
}
/* End-Section-1 */

/* Section-2  */
.section-2{
    margin-bottom: 60px;
}
.section-2 .box-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.section-2 .inner-ques{
    font-weight: 500;
}
.section-2 .inner-sub-title{
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primary);
    text-transform: capitalize;
}
.section-2 .inner-btn{
    border: 1.5px solid var(--color-primary);
    margin-top: 10px;
}
.section-2 .inner-btn i{
    margin-left: 8px;
}
.section-2 .inner-wrap{
    display: flex;
    flex-wrap: wrap;
    
}
.section-2 .inner-item{
    width: calc(100%/4 - 60px/4);
    padding:8px 8px 0 8px;
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    margin: 0 20px 20px 0;
}
.section-2 .inner-item:nth-child(4n){
    margin-right: 0;
}
.section-2 .inner-item .inner-image{
    margin-bottom: 8px;
}
.section-2 .inner-item .inner-image img{
    width: 100%;
    aspect-ratio: 264/264;
    object-fit: cover;
    border-radius: 8px;
}
.section-2 .inner-infor{
    margin-top: 16px;
    font-weight: 700;
    color: var(--color-text-dark);
    font-size: 16px;
}
.section-2 .inner-desc{
    margin-top: 4px;
    color: var(--color-text-light);
    font-size: 12px;
    font-weight: 500;
}
.section-2 .inner-desc span{
   font-weight: 700;
}
.section-2 .inner-desc .inner-sex span::after{
    content: ".";
    font-size: 12px;
    color: #667479;
    position: relative;
    bottom:3px ;
    margin: 0 3px;
}
.section-2 .inner-desc .inner-sex span :last-child ::after{
    content: "";
}

.section-2 .inner-price{
    margin-top: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #00171F;
    margin-bottom: 20px;
}
/* End-Section-2  */

/* Section-3 */

.section-3 .container{
    
    background-image: url(../images/Banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding-top: 36px;
  position: relative;
}
.section-3 .inner-wrap{
    display: flex;
}
.section-3 .inner-left{
    width: 40%;
}
.section-3 .inner-left img{
    width: 100%;
    aspect-ratio: 466/342;
    object-fit: cover;
}
.section-3 .inner-right{
    width: 60%;
    position: relative;
    left: 292px;
    top: 7px;
   
}
.section-3 .inner-title{
    margin: 0;
    font-weight: 700;
    font-size: 52px;
    text-transform: capitalize;
    color: var(--color-primary);
}
.section-3 .inner-sub-title{
    margin: 0;
    font-size: 36px;
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 8px;
}
.section-3 .inner-desc{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 24px;
   
    width: 400px;
}
.section-3 .inner-btn{
    display: flex;
}
.section-3 .inner-btn .btn-s1{
    border: solid 1.5px var(--color-primary);
   
}
.section-3 .inner-btn .btn-s2{
    border: solid 1.5px var(--color-primary);
    color: #fff;
    background-color: var(--color-primary);
   
}
.section-3 .inner-btn a .btn-s1{
    margin-right: 18px;
}

.section-3 .inner-btn .btn-s1 i{
    margin-left: 8px; 
}
.section-3 .inner-btn .btn-s1{
    color:var(--color-primary);
}
/* End-Section-3 */

/* Section-4 */
.section-4 .box-head{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.section-4 .inner-ques{
    font-weight: 500;
}
.section-4 .inner-sub-title{
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primary);
    text-transform: capitalize;
}
.section-4 .inner-btn{
    border: 1.5px solid var(--color-primary);
    margin-top: 10px;
}
.section-4 .inner-btn i{
    margin-left: 8px;
}
.section-4 .inner-wrap{
    display: flex;
    justify-content: space-between;
}
.section-4 .inner-item{
    width: calc(100%/3 - 56px/3);
    box-shadow: 0px 4px 28px -2px #00000014;
    margin-right: 28px;
    padding:8px 8px 16px 8px;
}
.section-4 .inner-wrap :nth-child(3n){
    margin-right: 0;
}
.section-4 .inner-item .inner-image img{
    
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 364/240;
    object-fit: cover;
}
.section-4 .inner-item .inner-tag{
    padding:2px 10px 2px 10px;
    border-radius: 28px;
    font-weight: 700;
    font-size: 10px;
    background-color: var(--color-blue);
    display: inline-flex;
    color: #fff;
    margin-top: 18px;
}
.section-4 .inner-item .inner-sub-title{
    margin-top: 10px;
    margin-bottom: 6px;
}
.section-4 .inner-item .inner-sub-title h3{
    margin: 0;
    font-weight: 700;
    color: var(--color-text-dark);
    font-size: 16px;
}
.section-4 .inner-item .inner-desc{
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: var(--color-text-light);
}
/* End-Section-4 */

/* Footer  */
.footer{
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0 0;
    margin-top:60px;
    padding:80px 0 40px 0;
}
.footer .inner-top{
    
    border-radius: 16px;
    background-color: var(--color-primary);
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
}
.footer .inner-top .inner-content{
    width: 40%;
    color:#fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
}
.footer .inner-form{
    border-radius: 14px;
    background-color: #fff;
    padding:12px;
    flex: 1;
    display: flex;
}
.footer .inner-form input{
    border-radius: 8px;
    border: 1px solid var(--color-text-light);
    color: var(--color-text-light);
    outline: none;
    background-color: transparent;
    padding:14px 28px;
    margin-right: 12px;
    flex: 1;
}
.footer .inner-form button{
    width: 163px;
    border-radius: 8px;
    padding:12px 27.5px;
    font-weight: 500;
    font-size: 16px;
    color:#fff;
    background-color: var(--color-primary);
    cursor: pointer;
}

.footer .inner-middle{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom:1px var(--color-text-light) solid;
    align-items: center;
}
.footer .inner-middle .inner-menu ul{
    display: flex;
    margin: 0;
  
}
.footer .inner-middle .inner-menu ul a{
    margin-right: 60px;
    font-weight: 500;
    color: var(--color-text-dark);

}
.footer .inner-middle .inner-menu ul :last-child{
    margin-right: 0;
}
.footer .inner-middle .inner-social ul {
    display: flex;
    margin: 0;
}
.footer .inner-middle .inner-social ul a{
    margin-left: 40px;
    font-size: 24px;
    color: var(--color-text-dark);
}
.footer .inner-middle .inner-social ul :first-child{
    margin-left: 0;
}

.footer .inner-bottom{
    margin-top: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .inner-coppyright{
    font-weight: 500;
    font-size:14px;
    color:var(--color-text-light);
}
.footer .inner-logo a img
{
    width: auto;
    aspect-ratio: 115/40;
    object-fit: cover;
}
.footer .inner-law ul{
    display: flex;
    margin: 0;
}
.footer .inner-law ul a {
    margin-left: 32px;
}
.footer .inner-law ul :first-child{
    margin-left: 0;
}
.footer .inner-law ul a li{
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-light);
}
/* End-Footer  */